@model IEnumerable<QuickCut.CoreUI.Models.BarberDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Phone Number
            </th>
            <th>
                Working Hours
            </th>
            <th>
                Days Available
            </th>
            <th>
                Policy Information
            </th>
            <th>
                Barber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barber.FirstName)
                @Html.DisplayFor(modelItem => item.Barber.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BarberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BarberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BarberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
