@model QuickCutUI.Models.Appointment

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Appointment Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h6>Appointment Date</h6>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            <h6>Barber Name</h6>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barber.FirstName)
            @Html.DisplayFor(model => model.Barber.LastName)
        </dd>

        <dt>
            <h6>Consumer Name</h6>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumer.FirstName)
            @Html.DisplayFor(model => model.Consumer.LastName)
        </dd>
        <dt>
            <h6>Appointment Address</h6>
            @Html.DisplayFor(model => model.Barber.BarberAddress)
            @Html.DisplayFor(model => model.Barber.Zip)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
